<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5a408b6b-cc8f-48cf-9ee0-3ceaa3623f57" Alias="articleComposition" Level="2">
  <Info>
    <Name>Article Composition</Name>
    <Icon>icon-book</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Page</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>34041fe7-9b39-4e71-825c-a932b89614e5</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>10f1843a-5998-4e03-804c-ade6d5bda066</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The main content of this page.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="page/article">Article</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4c2727a2-0a87-4435-b0d5-f40c2cc5c60f</Key>
      <Caption>Article</Caption>
      <Alias>page/article</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>e6d3f9c0-aeb5-485c-a805-3d49671b77f2</Key>
      <Caption>Page</Caption>
      <Alias>page</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>