<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fcc1ab59-8ba8-4806-a1f0-68300c45dadb" Alias="eventPage" Level="1">
  <Info>
    <Name>Event Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="5a408b6b-cc8f-48cf-9ee0-3ceaa3623f57">articleComposition</Composition>
      <Composition Key="161de8c5-be0d-4560-87f2-567749e440ef">contactPointComposition</Composition>
      <Composition Key="8d702f30-1c45-4948-8025-22389633935e">eventComposition</Composition>
      <Composition Key="aebb05b9-d4ec-4aef-b146-cfc77182baa7">metaComposition</Composition>
      <Composition Key="01db31d0-63ec-45a1-9c03-dad36e50c942">postalAddressComposition</Composition>
      <Composition Key="8d57989c-114f-47f0-acb4-9c28a9909093">taxonomyComposition</Composition>
    </Compositions>
    <DefaultTemplate>EventPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019f6179-c924-73e2-8c94-84fe33eb6555">EventPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="fcc1ab59-8ba8-4806-a1f0-68300c45dadb" SortOrder="0">eventPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>