<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="86baf133-184e-4535-aa5e-d77bd4345cba" Alias="homePage" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Home Page</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="161de8c5-be0d-4560-87f2-567749e440ef">contactPointComposition</Composition>
      <Composition Key="aebb05b9-d4ec-4aef-b146-cfc77182baa7">metaComposition</Composition>
      <Composition Key="b3defc93-1373-4662-99f3-5cfc57f6922a">organizationComposition</Composition>
      <Composition Key="48c3005d-589e-4063-9112-7e5decf85f12">pageSettingsComposition</Composition>
      <Composition Key="01db31d0-63ec-45a1-9c03-dad36e50c942">postalAddressComposition</Composition>
      <Composition Key="68d1618b-4fe8-4e81-9f66-ff1ae0bbb1b6">umbracoSettingsComposition</Composition>
    </Compositions>
    <DefaultTemplate>pageTemplate</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5fa80d76-0456-4953-8d47-0a81fb0729ca">pageTemplate</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="86baf133-184e-4535-aa5e-d77bd4345cba" SortOrder="0">homePage</ContentType>
    <ContentType Key="a9889601-f93c-4cba-8a01-03e4f324071e" SortOrder="1">textPage</ContentType>
    <ContentType Key="2d7bc6cf-3c54-4369-8569-798d86bf696e" SortOrder="2">newsPage</ContentType>
    <ContentType Key="fcc1ab59-8ba8-4806-a1f0-68300c45dadb" SortOrder="3">eventPage</ContentType>
    <ContentType Key="d5b1d74f-fa6b-4098-9119-25ad2fd83a99" SortOrder="4">loginPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>