<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d5b1d74f-fa6b-4098-9119-25ad2fd83a99" Alias="loginPage" Level="1">
  <Info>
    <Name>Login Page</Name>
    <Icon>icon-shield</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="aebb05b9-d4ec-4aef-b146-cfc77182baa7">metaComposition</Composition>
    </Compositions>
    <DefaultTemplate>LoginPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019fe29e-7aeb-7893-8b15-d38a0644b599">LoginPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="505faa9b-9d03-432d-a2d9-e07559bb04db" SortOrder="0">memberPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>