<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="505faa9b-9d03-432d-a2d9-e07559bb04db" Alias="memberPage" Level="1">
  <Info>
    <Name>Member Page</Name>
    <Icon>icon-key</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="aebb05b9-d4ec-4aef-b146-cfc77182baa7">metaComposition</Composition>
    </Compositions>
    <DefaultTemplate>MemberPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019fe2a0-7cc5-7fea-9119-30054f410fe4">MemberPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>