<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2d7bc6cf-3c54-4369-8569-798d86bf696e" Alias="newsPage" Level="1">
  <Info>
    <Name>News Page</Name>
    <Icon>icon-newspaper</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>News Page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="5a408b6b-cc8f-48cf-9ee0-3ceaa3623f57">articleComposition</Composition>
      <Composition Key="aebb05b9-d4ec-4aef-b146-cfc77182baa7">metaComposition</Composition>
      <Composition Key="48c3005d-589e-4063-9112-7e5decf85f12">pageSettingsComposition</Composition>
      <Composition Key="8d57989c-114f-47f0-acb4-9c28a9909093">taxonomyComposition</Composition>
      <Composition Key="68d1618b-4fe8-4e81-9f66-ff1ae0bbb1b6">umbracoSettingsComposition</Composition>
    </Compositions>
    <DefaultTemplate>pageTemplate</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5fa80d76-0456-4953-8d47-0a81fb0729ca">pageTemplate</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="2d7bc6cf-3c54-4369-8569-798d86bf696e" SortOrder="0">newsPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>