<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b3defc93-1373-4662-99f3-5cfc57f6922a" Alias="organizationComposition" Level="2">
  <Info>
    <Name>Organization Composition</Name>
    <Icon>icon-rocket</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Schemas</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d2763c02-89b0-4ec2-a80e-c498d2fdebd8</Key>
      <Name>Description</Name>
      <Alias>organizationDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Organization business description.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="schema/organization">Organization</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ff55cce1-4564-473a-8f87-6370517d171b</Key>
      <Name>Image</Name>
      <Alias>organizationImage</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Organization business image.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="schema/organization">Organization</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b395366f-2fe8-4f80-a61e-7e73b51f3096</Key>
      <Name>Name</Name>
      <Alias>organizationName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Organization business name.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="schema/organization">Organization</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>243e0608-bc29-48f9-ab4d-efc0da1aeebc</Key>
      <Name>Same As</Name>
      <Alias>organizationSameAs</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Links to external channels associated with this page. Ex. Social media links.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="schema/organization">Organization</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b6ead185-9e75-45d7-839c-15596904e30f</Key>
      <Name>Tax Identifier</Name>
      <Alias>organizationTaxId</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Organization tax identifier. Ex. VAT, CVR numbers.]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="schema/organization">Organization</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>825b1aea-2e7f-451c-9e21-a770a7750802</Key>
      <Caption>Organization</Caption>
      <Alias>schema/organization</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>e07ab3ae-56e8-4bb3-91db-664f69a927b8</Key>
      <Caption>Schema</Caption>
      <Alias>schema</Alias>
      <Type>Tab</Type>
      <SortOrder>50</SortOrder>
    </Tab>
  </Tabs>
</ContentType>