<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="48c3005d-589e-4063-9112-7e5decf85f12" Alias="pageSettingsComposition" Level="2">
  <Info>
    <Name>Page Settings Composition</Name>
    <Icon>icon-settings</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>68c6311c-4720-458d-b2d0-bfe32494b9da</Key>
      <Name>Prevent Indexing</Name>
      <Alias>noIndex</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[When checked, measurements are made to prevent this page from being indexed by search engines.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings/page">Page</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ab9a806d-97eb-406b-b666-5a9f33eb04b8</Key>
      <Name>Create Date</Name>
      <Alias>overrideCreateDate</Alias>
      <Definition>88e8a052-30ee-4d44-a507-59f2cdfc769c</Definition>
      <Type>Umbraco.DateTimeWithTimeZone</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Setting this date overrides the internal create date for this page. Search and display by create date will be based on this date when it is set.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings/page">Page</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3a2787d7-788a-4d8a-af71-fc184fce093b</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Tab</Type>
      <SortOrder>100</SortOrder>
    </Tab>
    <Tab>
      <Key>fc7072a0-db2f-45c6-809a-285e293c7c6c</Key>
      <Caption>Page</Caption>
      <Alias>settings/page</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>