<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="01db31d0-63ec-45a1-9c03-dad36e50c942" Alias="postalAddressComposition" Level="2">
  <Info>
    <Name>Postal Address Composition</Name>
    <Icon>icon-users</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Schemas</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>36e86741-0a8f-4a0d-9732-2acf73ab9115</Key>
      <Name>Country</Name>
      <Alias>postAddressAddressCountry</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[he country. Recommended to be in 2-letter ISO 3166-1 alpha-2 format, for example "US". For backward compatibility, a 3-letter ISO 3166-1 alpha-3 country code such as "SGP" or a full country name such as "Singapore" can also be used.]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="schema/postalAddress">Postal Address</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>45592c6b-6cd1-4147-b348-be72f5b35ca0</Key>
      <Name>Locality</Name>
      <Alias>postalAddressAddressLocality</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The locality in which the street address is, and which is in the region. For example, Mountain View.]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="schema/postalAddress">Postal Address</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8eef843d-2a5e-4a48-a8cf-e15a942fd451</Key>
      <Name>Region</Name>
      <Alias>postalAddressAddressRegion</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The region in which the locality is, and which is in the country. For example, California or another appropriate first-level Administrative division such as the Province in Italy or Region in Germany.]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="schema/postalAddress">Postal Address</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6b9e8202-5245-46d8-9681-392fbfff2ab8</Key>
      <Name>Street Address Extended</Name>
      <Alias>postalAddressExtendedAddress</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[An address extension such as an apartment number or direction, C/O or alternative name, etc.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="schema/postalAddress">Postal Address</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6b5ef747-0ac7-4ae7-9523-b1719a7249d7</Key>
      <Name>Postal Code</Name>
      <Alias>postalAddressPostalCode</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The postal/zip code. For example, 94043.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="schema/postalAddress">Postal Address</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c2d05995-6abb-486f-aae1-c12f63237ae8</Key>
      <Name>Street Address</Name>
      <Alias>postalAddressStreetAddress</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The street address. For example, 1600 Amphitheatre Pkwy.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="schema/postalAddress">Postal Address</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>10cfeae7-5567-4f91-b79e-9827ede7ea68</Key>
      <Caption>Schema</Caption>
      <Alias>schema</Alias>
      <Type>Tab</Type>
      <SortOrder>50</SortOrder>
    </Tab>
    <Tab>
      <Key>2e51e784-bc37-44eb-8c1f-076ce12b4621</Key>
      <Caption>Postal Address</Caption>
      <Alias>schema/postalAddress</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>