<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8d57989c-114f-47f0-acb4-9c28a9909093" Alias="taxonomyComposition" Level="2">
  <Info>
    <Name>Taxonomy Composition</Name>
    <Icon>icon-tags</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Page</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>130ea0d0-cf9a-4fd0-ac33-527f2b416c25</Key>
      <Name>Tags</Name>
      <Alias>tags</Alias>
      <Definition>b6b73142-b9c1-4bf8-a16d-e1c23320b549</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Tag describing this page.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="page/taxonomy">Taxonomy</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1cc637cc-4d5f-4959-8efc-ce1c6c16c174</Key>
      <Caption>Page</Caption>
      <Alias>page</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>76403a19-b87d-46bb-88b1-50b6a0308c4d</Key>
      <Caption>Taxonomy</Caption>
      <Alias>page/taxonomy</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>