<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="68d1618b-4fe8-4e81-9f66-ff1ae0bbb1b6" Alias="umbracoSettingsComposition" Level="2">
  <Info>
    <Name>Umbraco Settings Composition</Name>
    <Icon>icon-settings</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0880df01-1b84-48d0-810d-5c598f45f40d</Key>
      <Name>Internal Redirect</Name>
      <Alias>umbracoInternalRedirectId</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[When content is selected then Umbraco will load the selected page contents transparently without performing any URL redirection.
This essentially performs a rewrite.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="settings/routing">Routing</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2ec8dce9-2c87-4cb2-a37d-2dab4a82a4c1</Key>
      <Name>Hide in Navigations</Name>
      <Alias>umbracoNaviHide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[When checked, page instruct clients to hide page in navigational element and sitemaps.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="settings/routing">Routing</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3d84f4f9-afbb-4ba1-92d8-9bef33cd19de</Key>
      <Name>Temporary Redirect</Name>
      <Alias>umbracoRedirect</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[When content is selected then a 302 temporary redirect is created. This in effect means that when a user navigates to this node, the user will be redirected away from it, to selected content location.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings/routing">Routing</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ff8fc836-4414-4ef3-83e7-6b43be3d1d93</Key>
      <Name>Url Alias</Name>
      <Alias>umbracoUrlAlias</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Provide a comma-separated list of alternate full URL paths for the node. For example, if your URL was `/some-category/some-page/content-node`, by adding an `umbracoUrlAlias` of "flowers", a user can navigate to the node by going to `/flowers`. The URL alias remains in the browser address bar as a 'mask' over the real URL. You can also specify paths like `flowers/roses/red`.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="settings/routing">Routing</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>02135b2d-284d-4721-8e39-017d69be07ef</Key>
      <Name>Url Name</Name>
      <Alias>umbracoUrlName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Provide a different URL name to what is created by default by the name of the node.
If you enter a value for this property you will see that its main URL is updated with a new path suffix.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="settings/routing">Routing</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7fa6e832-8b3a-4caa-82e7-3794dd5ac571</Key>
      <Caption>Routing</Caption>
      <Alias>settings/routing</Alias>
      <Type>Group</Type>
      <SortOrder>100</SortOrder>
    </Tab>
    <Tab>
      <Key>9100a337-349b-469b-94a7-b5f48071efec</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Tab</Type>
      <SortOrder>100</SortOrder>
    </Tab>
  </Tabs>
</ContentType>