<?xml version="1.0" encoding="utf-8"?>
<Content Key="b37ce491-164d-435c-925f-90d8e5d18046" Alias="2024" Level="3">
  <Info>
    <Parent Key="e35fbb84-11e0-474b-a376-afedeafedabc">Nyheder</Parent>
    <Path>/Site1/Nyheder/</Path>
    <Trashed>false</Trashed>
    <ContentType>newsPage</ContentType>
    <CreateDate>2026-07-14T17:10:28</CreateDate>
    <NodeName Default="2024">
      <Name Culture="da">2024</Name>
      <Name Culture="en">2014</Name>
      <Name Culture="pl">2024</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">true</Published>
      <Published Culture="pl">true</Published>
    </Published>
    <Schedule />
    <Template Key="5fa80d76-0456-4953-8d47-0a81fb0729ca">pageTemplate</Template>
  </Info>
  <Properties>
    <content>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="pl"><![CDATA[]]></Value>
    </content>
    <description>
      <Value Culture="da"><![CDATA[Sammendrag af nyheder fra 2024.]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="pl"><![CDATA[]]></Value>
    </description>
    <noIndex>
      <Value Culture="da"><![CDATA[0]]></Value>
      <Value Culture="en"><![CDATA[0]]></Value>
      <Value Culture="pl"><![CDATA[0]]></Value>
    </noIndex>
    <overrideCreateDate>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="pl"><![CDATA[]]></Value>
    </overrideCreateDate>
    <tags>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="pl"><![CDATA[]]></Value>
    </tags>
    <title>
      <Value Culture="da"><![CDATA[Nyheder fra 2024]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="pl"><![CDATA[]]></Value>
    </title>
    <umbracoInternalRedirectId>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="pl"><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoNaviHide>
      <Value Culture="da"><![CDATA[0]]></Value>
      <Value Culture="en"><![CDATA[0]]></Value>
      <Value Culture="pl"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="pl"><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="pl"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="pl"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>