<?xml version="1.0" encoding="utf-8"?>
<Content Key="c6317082-8522-4562-a181-1da3b1a05312" Alias="Event 2" Level="3">
  <Info>
    <Parent Key="cb3fd54e-ab17-466d-883a-152ab38ab643">Events</Parent>
    <Path>/Site1/Events/Event2</Path>
    <Trashed>false</Trashed>
    <ContentType>eventPage</ContentType>
    <CreateDate>2026-07-14T17:12:19</CreateDate>
    <NodeName Default="Event 2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019f6179-c924-73e2-8c94-84fe33eb6555">EventPage</Template>
  </Info>
  <Properties>
    <contactPointEmail>
      <Value><![CDATA[]]></Value>
    </contactPointEmail>
    <contactPointTelephone>
      <Value><![CDATA[]]></Value>
    </contactPointTelephone>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <eventEndDate>
      <Value><![CDATA[2026-07-31T00:00:00]]></Value>
    </eventEndDate>
    <eventMaximumAttendeeCapacity>
      <Value><![CDATA[0]]></Value>
    </eventMaximumAttendeeCapacity>
    <eventStartDate>
      <Value><![CDATA[2026-07-22T00:00:00]]></Value>
    </eventStartDate>
    <postAddressAddressCountry>
      <Value><![CDATA[]]></Value>
    </postAddressAddressCountry>
    <postalAddressAddressLocality>
      <Value><![CDATA[]]></Value>
    </postalAddressAddressLocality>
    <postalAddressAddressRegion>
      <Value><![CDATA[]]></Value>
    </postalAddressAddressRegion>
    <postalAddressExtendedAddress>
      <Value><![CDATA[]]></Value>
    </postalAddressExtendedAddress>
    <postalAddressPostalCode>
      <Value><![CDATA[]]></Value>
    </postalAddressPostalCode>
    <postalAddressStreetAddress>
      <Value><![CDATA[]]></Value>
    </postalAddressStreetAddress>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <title>
      <Value><![CDATA[Event 2]]></Value>
    </title>
  </Properties>
</Content>