<?xml version="1.0" encoding="utf-8"?>
<Content Key="f4f58c72-2461-4c39-af4a-a17408f20470" Alias="Medlemsside" Level="3">
  <Info>
    <Parent Key="c657909c-1e10-4f41-b979-612600f7ae23">Privat</Parent>
    <Path>/Site1/Privat/Medlemsside</Path>
    <Trashed>false</Trashed>
    <ContentType>memberPage</ContentType>
    <CreateDate>2026-08-08T18:28:28</CreateDate>
    <NodeName Default="Medlemsside">
      <Name Culture="da">Medlemsside</Name>
      <Name Culture="en">Members Page</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template Key="019fe2a0-7cc5-7fea-9119-30054f410fe4">MemberPage</Template>
  </Info>
  <Properties>
    <description>
      <Value Culture="da"><![CDATA[Medlemsside]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </description>
    <title>
      <Value Culture="da"><![CDATA[Medlemsside]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>