<?xml version="1.0" encoding="utf-8"?>
<Content Key="ec8dc842-752b-402c-b7e5-152d91552b92" Alias="Nyhed 2" Level="4">
  <Info>
    <Parent Key="b37ce491-164d-435c-925f-90d8e5d18046">2024</Parent>
    <Path>/Site1/Nyheder//Nyhed2</Path>
    <Trashed>false</Trashed>
    <ContentType>newsPage</ContentType>
    <CreateDate>2026-07-14T17:11:08</CreateDate>
    <NodeName Default="Nyhed 2">
      <Name Culture="da">Nyhed 2</Name>
      <Name Culture="en">Article 2</Name>
      <Name Culture="pl">Wiadomość 2</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">true</Published>
      <Published Culture="pl">true</Published>
    </Published>
    <Schedule />
    <Template Key="5fa80d76-0456-4953-8d47-0a81fb0729ca">pageTemplate</Template>
  </Info>
  <Properties>
    <content>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="pl"><![CDATA[]]></Value>
    </content>
    <description>
      <Value Culture="da"><![CDATA[Nyhed 2]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="pl"><![CDATA[]]></Value>
    </description>
    <noIndex>
      <Value Culture="da"><![CDATA[0]]></Value>
      <Value Culture="en"><![CDATA[0]]></Value>
      <Value Culture="pl"><![CDATA[0]]></Value>
    </noIndex>
    <overrideCreateDate>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="pl"><![CDATA[]]></Value>
    </overrideCreateDate>
    <tags>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="pl"><![CDATA[]]></Value>
    </tags>
    <title>
      <Value Culture="da"><![CDATA[Nyhed 2]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="pl"><![CDATA[Wiadomość 2]]></Value>
    </title>
    <umbracoInternalRedirectId>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="pl"><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoNaviHide>
      <Value Culture="da"><![CDATA[0]]></Value>
      <Value Culture="en"><![CDATA[0]]></Value>
      <Value Culture="pl"><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="pl"><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="pl"><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en"><![CDATA[]]></Value>
      <Value Culture="pl"><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>