<?xml version="1.0" encoding="utf-8"?>
<Content Key="c657909c-1e10-4f41-b979-612600f7ae23" Alias="Privat" Level="2">
  <Info>
    <Parent Key="b04a32de-a3c4-4946-9ce4-efb9bbedb396">Site 1</Parent>
    <Path>/Site1/Privat</Path>
    <Trashed>false</Trashed>
    <ContentType>loginPage</ContentType>
    <CreateDate>2026-08-08T18:27:35</CreateDate>
    <NodeName Default="Privat">
      <Name Culture="da">Privat</Name>
      <Name Culture="en">Private</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en">true</Published>
    </Published>
    <Schedule />
    <Template Key="019fe29e-7aeb-7893-8b15-d38a0644b599">LoginPage</Template>
  </Info>
  <Properties>
    <description>
      <Value Culture="da"><![CDATA[Login beskrivelse.]]></Value>
      <Value Culture="en"><![CDATA[Login En]]></Value>
    </description>
    <title>
      <Value Culture="da"><![CDATA[Login side]]></Value>
      <Value Culture="en"><![CDATA[Login]]></Value>
    </title>
  </Properties>
</Content>