<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c9cd7517-f414-43b4-a0a5-2d3a7d4bd673" Alias="Markdown Editor" Level="1">
  <Info>
    <Name>Markdown Editor</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MarkdownEditor</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "overlaySize": "medium"
}]]></Config>
</DataType>